.address {
  .outline;
  width: 30%;
  text-align: center;
  order: 2;
}

.address__title {
  position: absolute;
  visibility: hidden;
}

.address__legend {
  display: block;
  font-size: 18px;
  font-weight: 700;
  color: #283645;
  margin-bottom: 26px;
}

.address__address {
  font-size: 24px;
  font-weight: 300;
  color: #d22856;
  margin: 0px;
}

@media (max-width: 680px) {

  .address {
    width: 45%;
    order: 3;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }

  .address__legend {
    margin-bottom: 10px;
  }

}

@media (max-width: 337px) {

  .address {
    width: 80%;
    margin-top: 28px;
  }

  .address b {
    margin-bottom: 5px;
  }

}
