.contacts {
 outline: 0px;
}

.contacts__wrapper {
  display: flex;
}

.contacts__container {
  .container;
  outline: 0px;
}

.contacts__title {
  position: absolute;
  visibility: hidden;
}

.contacts__text {
  .outline;
  text-align: center;
  font-size: 50px;
  line-height: 60px;
  font-weight: 300;
  color: #283645;
  margin: 0px;
  margin-top: 63px;
}

.contacts__articles-wrapper {
  outline: 2px solid blue;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 58px;
  width: 97%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.contacts__map {
  display: block;
  height: 506px;
  width: 100%;
}

@media (max-width: 680px) {

  .contacts__articles-wrapper {
    margin-top: 45px;
    margin-bottom: 27px;
  }

  .contacts__text {
    font-size: 40px;
    line-height: 48px;
    margin-top: 47px;
  }

  .contacts__map {
    height: 378px;
  }

}

@media (max-width: 337px) {

  .contacts__text {
    font-size: 24px;
    line-height: 29px;
    margin-top: 42px;
  }

  .contacts__articles-wrapper {
    margin-top: 36px;
  }

  .contacts__map {
    height: 200px;
  }

}
