.new-post {
  display: flex;
}

.new-post__wrapper {
  .container;
}

.new-post__title {
  position: absolute;
  visibility: hidden;
}

.new-post__container {
  width: auto;
  min-height: 514px;
  margin-top: 26px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 80px;
  padding-right: 80px;
  background-color: #f2f2f2;
  margin-left: auto;
  margin-right: auto;
}

.new-post__tools {
  .outline;
  width: 50%;
  min-height: 200px;
  margin-top: 57px;
  position: relative;
}

.new-post__img-wrapper {
  margin-top: 57px;
}

.new-post__img {
  width: 300px;
  height: 400px;
}

.new-post__crop-wrapper, .new-post__fill-wrapper, .new-post__bright-wrapper {
  display: flex;
  flex-wrap: wrap;
  min-height: 73px;
  border-bottom: 1px solid #dddfe0;
  box-sizing: border-box;
}

.new-post__btn-wrapper {
  .outline;
  margin-top: 128px;
}

.new-post__crop-icon, .new-post__fill-icon, .new-post__bright-icon {
  display: block;
  width: 20px;
  height: 20px;
  background: black;
  margin-left: 0px;
  margin-right: 72px;
}

.new-post__crop, .new-post__fill, .new-post__bright {
  .outline;
  text-align: center;
  width: auto;
}

.new-post__btn-post {
  border: 3px solid #d22856;
  border-radius: 30px;
  background-color: rgba(210, 40, 86, 0);
  color: #d22856;
  width: 183px;
  height: 55px;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
}

.new-post__btn-cancel {
  border: 3px solid #d22856;
  border-radius: 30px;
  background-color: rgba(210, 40, 86, 0);
  color: #d22856;
  width: 183px;
  height: 55px;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
}

@media (max-width: 660px) {

  .new-post__wrapper {
    padding-left: 0px;
    padding-right: 0px;
  }

  .new-post__container {
    width: auto;
  }

}

@media (max-width: 626px) {

  .new-post__container {
    justify-content: center;
  }

  .new-post__tools {
    width: 300px;
    margin-top: 0px;
  }

  .new-post__img-wrapper {
    margin-right: 0px;
  }

  .new-post__crop-wrapper, .new-post__fill-wrapper, .new-post__bright-wrapper {
    position: absolute;
    width: 100%;
  }

  .new-post__fill-wrapper, .new-post__bright-wrapper {
    visibility: hidden;
  }

  .new-post__crop, .new-post__fill, .new-post__bright {
    width: 100%;
  }

  .new-post__crop-icon, .new-post__fill-icon, .new-post__bright-icon {
    visibility: visible;
  }

  .new-post__fill-icon {
    margin-left: auto;
    margin-right: auto;
  }

  .new-post__bright-icon {
    margin-left: 250px;
  }

}
