body {
  background: white;
  margin: 0px;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
}

fieldset {
  margin: 0px;
  padding: 0px;
  border: 2px solid #e5e5e5;
}

@font-face {
  font-weight: normal;
  font-family: "Open Sans";
  font-style: normal;
  src: url("fonts/opensans.woff2") format("woff2"),
  url("fonts/opensans.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "Open Sans";
  font-style: normal;
  src: url("fonts/opensansbold.woff2") format("woff2"),
  url("fonts/opensansbold.woff") format("woff");
}

@font-face {
  font-weight: 300;
  font-family: "Open Sans";
  font-style: normal;
  src: url("fonts/opensanslight.woff2") format("woff2"),
  url("fonts/opensanslight.woff") format("woff");
}

a {
  color: white;
  text-decoration: none;
}

input {
  font-family: "Open Sans", Arial, sans-serif;
}

input[type=text] {
  height: 63px;
  border: 2px solid #e5e5e5;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  box-sizing: border-box;
  border-radius: 3px;
  padding-left: 20px;
}

legend {
  font-size: 14px;
  line-height: 30px;
  color: #d22856;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  padding-left: 32px;
  padding-right: 32px;
}

@media (max-width: 337px) {

  legend {
    padding-left: 40px;
    padding-right: 40px;
    line-height: 18px;
  }

}
